<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Spot It</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var socket = io.connect("http://192.168.100.2:5000");

            $('img').click(function(event) {
                socket.emit('selected', {
                    who: $(this).attr('id')
                });
                return false;
            });

            socket.on('redirect', function(data) {
                console.log(data);
                window.location = data.url;
            });

            window.onbeforeunload = function() {
                socket.emit('client_disconnecting', {
                    'data': "emotion_game3"
                });
            }
        });
    </script>
    <style>
        body {
            background-image: url("{{ url_for('static', filename='images/back.jpg') }}");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            width: 1000px;
            height: 800px;
        }

        img {
            border: none;
        }

        input {
            font-size: 40px;
            width: 200px;
            height: 70px;
        }
    </style>
</head>

<body>
    <form method="post" action="/">
        <p style="position:absolute; font-weight:bold;left:80px; top:8px; color:rgb(243, 240, 240); font-size:30px">{{value}}</p>
        <p style="position:absolute; font-weight:bold;left:140px; top:140px; color:rgb(243, 240, 240); font-size:30px">This game does not require the tablet.</p>
    </form>
</body>

</html>
