<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <style>
        body {
            background-image: url("{{ url_for('static', filename='images/back.jpg') }}");
        }

        input {
            font-size: 20px;
            height: 70px;
            width: 200px;
            position: absolute;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var socket = io.connect('http://192.168.100.2:5000');

            socket.on('connect', function() {
                socket.emit('connect event', {
                    data: 'User Connected'
                });

                $('input.sync').on('click', function(event) {
                    socket.emit('click_main', {
                        who: $(this).attr('id')
                    });
                    return false;
                });

                socket.on('green', function(msg) {
                    var x = document.getElementById(msg.who);
                    x.style.color = "green";
                });

                socket.on('update value1', function(msg) {
                    var x = document.getElementById("instructions_game");
                    x.style.display = (x.style.display === "none") ? "block" : "none";
                    if (x.style.display === "block") {
                        x.style.color = "green";
                    }
                });

                socket.on('close', function(msg) {
                    var x = document.getElementById(msg.name);
                    if (x.style.display === "block") {
                        x.style.display = "none";
                    }
                });

                socket.on('redirect', function(data) {
                    console.log(data);
                    window.open(data.url);
                });

                window.onbeforeunload = function() {
                    socket.emit('client_disconnecting', { 'data': "Main" });
                };
            });
        });
    </script>
</head>
<body>
    <input id="0-3" class="sync" type="button" value="0-3 years old" style="left: 80px; top: 50px;" required/>
    <input id="3-5" class="sync" type="button" value="3-5 years old" style="left: 80px; top: 250px;" required/>
    <input id="instructions_game" class="sync" type="button" value="Taking instructions" style="left: 340px; top: 450px;" required/>
    <input id="action_game" class="sync" type="button" value="Action game" style="left: 340px; top: 50px;" required/>
    <input id="emotion_game_1" class="sync" type="button" value="Emotion game 1" style="left: 340px; top: 150px;" required/>
    <input id="emotion_game2" class="sync" type="button" value="Emotion game 2" style="left: 340px; top: 250px;" required/>
    <input id="emotion_game3" class="sync" type="button" value="Emotion game 3" style="left: 340px; top: 350px;" required/>
</body>
</html>
